<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{nocache}{$title}{/nocache}</title>
  <link rel="shortcut icon" href="{$BASEURL}doc/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{$THEMESPATH}" />
        {$LOADSTYLE}
</head>
<body style="background-color:#20B2AA; padding-top:50px;">
 <!--removed by integration-->
    {nocache}
                    {include file="$template_content"}
               
    {/nocache}
 <!-- javascript loaded -->
{$LOADJS}
<!-- end of loaded javascript -->

</body>
</html>